{{ partial "before_main" . }}
<main class="container flex resources" style="position: relative;">
    <aside id="sideMenu" class="book-menu menu open">
        <div class="header">
            <h1>
                {{$section_heading := .Site.GetPage "section" .Section }}
                {{with $section_heading}}
                <a href="{{ .Page.RelPermalink }}">{{- .Title -}}</a>
                {{end}}
            </h1>
            {{/* <sl-tooltip class="menu-toggle" content="Collapse menu">
                <sl-icon-button id="menuToggle" class="bordered" name="chevron-left" label="collapse menu">
                </sl-icon-button>
            </sl-tooltip> */}}
        </div>
        {{ block "menu" . }}
        <!-- Left menu Content -->
        {{ partial "docs/menu" . }}
        {{ end }}

    </aside>
    {{/*
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const toggle = document.querySelector('#menuToggle');
            const menu = document.querySelector('#sideMenu');

            toggle.addEventListener('click', () => {
                menu.classList.toggle("open");
                menu.classList.toggle("closed");
            });
        });
    </script> */}}

    <div class="book-page">
        <header class="book-header">
            {{ block "header" . }}
            <!-- Mobile layout header -->
            {{end}}
        </header>

        <!-- {{ partial "hero.html" . }} -->

        {{ partial "docs/inject/content-before" . }}
        {{ block "main" . }}
        <!-- Page Content -->
        {{end}}
        {{ partial "docs/inject/content-after" . }}

        {{ template "comments" . }}
        <!-- Comments block -->

        <label for="menu-control" class="hidden book-menu-overlay"></label>

        <footer class="footer">
            {{ block "footer" . }}
            <!-- Footer under page content -->
            {{ end }}
            {{ partial "docs/inject/footer" . }}
        </footer>
    </div>

    {{ block "toc" . }}
    <!-- Table of Contents -->
    {{end }}
</main>
{{ partial "after_main" . }}