{{ partial "before_main" . }}
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const menuToggle = document.querySelector('#menuToggle');
        const tocToggle = document.querySelector('#tocToggle');
        const container = document.querySelector('.resources');

        menuToggle.addEventListener('click', () => {
            let active = container.classList.toggle("side-menu-closed");
            menuToggle.setAttribute("name", active ? "chevron-right" : "chevron-left");
        });

        tocToggle?.addEventListener('click', () => {
            let active = container.classList.toggle("toc-menu-closed");
            tocToggle.setAttribute("name", active ? "chevron-left" : "chevron-right");
        });
    });
</script>


<main class="container resources" style="position: relative;">
    <sl-tooltip class="menu-toggle" content="Toggle menu">
        <sl-icon-button id="menuToggle" class="" name="chevron-left" label="Toggle menu">
        </sl-icon-button>
    </sl-tooltip>


    <aside id="sideMenu" class="book-menu menu open">
            <div class="header">
                <h1>
                    {{$section_heading := .Site.GetPage "section" .Section }}
                    {{with $section_heading}}
                    <a href="{{ .Page.RelPermalink }}">{{- .Title -}}</a>
                    {{end}}
                </h1>
            </div>
            {{ block "menu" . }}
            <!-- Left menu Content -->
            {{ partial "docs/menu" . }}
            {{ end }}
    </aside>

    <div class="book-page">
        <div class="mobile-search">
            {{ partial "docs/search" . }}
        </div>

        <nav class="breadcrumbs">
            {{ partial "breadcrumbs" . }}
        </nav>

        <header class="book-header">
            {{ block "header" . }}
            <!-- Mobile layout header -->
            {{end}}
        </header>

        <!-- {{ partial "hero.html" . }} -->

        {{ partial "docs/inject/content-before" . }}
        {{ block "main" . }}
        <!-- Page Content -->
        {{end}}
        {{ partial "docs/inject/content-after" . }}

        <!-- Nav links  -->
        <!-- .IsPage checks if the current page is a content page -->
        <!-- and if so, renders the nav links partial. -->
        <!-- The aim of the nav_links is to facilitate moving through -->
        <!-- content rather than through sections, for which the side menu -->
        <!-- is available -->
        {{ if .IsPage }}
            {{ partial "nav_links.html" . }}
        {{ end }}

        {{ template "comments" . }}
        <!-- Comments block -->

        <footer class="footer">
            {{ block "footer" . }}
            <!-- Footer under page content -->
            {{ end }}
            {{ partial "docs/inject/footer" . }}
        </footer>
    </div>

    {{ block "toc" . }}
    <!-- Table of Contents -->
    {{end }}
</main>
{{ partial "after_main" . }}