{{ define "main" }} {{/* Revealjs */}}
<script src="https://unpkg.com/reveal.js@4.3.1/dist/reveal.js"></script>
<script src="https://unpkg.com/reveal.js@4.3.1/plugin/notes/notes.js"></script>
<script src="https://unpkg.com/reveal.js@4.3.1/plugin/math/math.js"></script>
{{/*
<script src="https://unpkg.com/reveal.js@4.3.1/plugin/math/math.js"></script>
*/}}
<link
    rel="stylesheet"
    href="https://unpkg.com/reveal.js@4.3.1/dist/reveal.css"
/>
<link
    rel="stylesheet"
    href="https://unpkg.com/reveal.js@4.3.1/dist/theme/simple.css"
/>

<div class="reveal" id="presentation">
    {{/*  render notes section as an aside  */}}
    {{- with .Content -}}
    {{ $content := replaceRE `(?s:<blockquote>.*?Notes?:(.*?)(</p>)?</blockquote>)` "<aside class=\"notes\">\n${1}\n</aside>" . }}
    <div class="slides">{{ $content | safeHTML  }}</div>
    {{ end }}
</div>

<div class="flex pull-right oe-presentation-controls">
    <sl-icon-button
        id="presenterModeButton"
        name="easel3"
        label="enable presenter mode"
    ></sl-icon-button>
    <sl-icon-button
        id="notesToggleButton"
        name="card-text"
        label="show notes"
    ></sl-icon-button>
    <sl-icon-button
        name="arrows-fullscreen"
        label="fullscreen"
        onclick="var el = document.getElementById('presentation'); el.requestFullscreen();"
    ></sl-icon-button>
    <sl-icon-button
        name="printer"
        label="Print"
        onclick="window.print();"
    ></sl-icon-button>
</div>

<aside id="slideNotes" class="notes-container notes-hidden">
    <h6>Notes:</h6>
    <div id="slideNotesContainer">
    </div>
</aside>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const slideNotes = document.querySelector("#slideNotes");
        const slideNotesContainer = document.querySelector("#slideNotesContainer");
        const notesButton = document.querySelector("#notesToggleButton");
        const presenterModeButton = document.querySelector("#presenterModeButton");

        Reveal.initialize({
            embedded: true,
            slideNumber: true,
            hash: true,
            width: 1920,
            height: 1080,
            margin: 0.1,
            minScale: 0.1,
            maxScale: 3.0,
            disableLayout: false,
            mouseWheel: false,
            plugins: [
                RevealNotes,
                RevealMath.KaTeX
            ],
        });

        Reveal.on('slidechanged', event => {
            slideNotesContainer.innerHTML = Reveal.getSlideNotes();
        })

        notesButton.addEventListener('click', () => slideNotes.classList.toggle("notes-hidden"));
        presenterModeButton.addEventListener('click', () => Reveal.getPlugin('notes').open() );
    });
</script>
{{ end }}
