{{ partial "before_main" . }}
<main class="container flex">
    <div class="page section-{{ .Section }}">
        <header class="book-header">
            {{ block "header" . }}
            <!-- Mobile layout header -->
            {{end}}

            <sl-alert variant="warning" open>
              <sl-icon slot="icon" name="exclamation-triangle"></sl-icon>
              <strong> Service Outage Alert</strong><br /> Due to cyclone preparations, Ecosounds and A2O will be offline from 3 pm Brisbane time (AEST) on 6 March 2025 until next week. Stay safe!
            </sl-alert>
        </header>

        {{ block "hero" . }}
        {{ partial "hero.html" . }}
        {{ end }}

        {{ partial "docs/inject/content-before" . }}
        {{ block "main" . }}
        <!-- Page Content -->
        {{end}}
        {{ partial "docs/inject/content-after" . }}



        {{ block "comments" . }}
        <!-- Comments block -->
        {{ end }}

        <label for="menu-control" class="hidden book-menu-overlay"></label>
        <footer class="book-footer">
            {{ block "footer" . }}
            <!-- Footer under page content -->
            {{ end }}
            {{ partial "docs/inject/footer" . }}
        </footer>
    </div>
</main>

{{ partial "after_main" . }}
