{{- $heroImage := resources.Get "images/Buffel-Grass-pasture-botanical-survey-at-Cungelella-1-1.webp" -}}
{{- $heroImage = $heroImage.Process "webp q70" -}}
<section class="hero">
  <div class="container hero-layout">
    <div class="hero-content type-body-large">
      {{ .content }}
    </div>
    <div class="hero-art" aria-label="{{ .params.audio_label }}">
      <div class="waveform" aria-hidden="true">
        <!-- object-position and width chosen for aesthetic reasons, vary with different hero images -->
        <img
          class="waveform-image"
          style="object-position: left bottom; width: 150%;"
          src="{{ $heroImage.RelPermalink }}"
          width="2000"
          height="1500"
          alt=""
          fetchpriority="high"
          decoding="async">
      </div>
    </div>
  </div>
</section>
