{{- $heroSource := resources.Get "images/Buffel-Grass-pasture-botanical-survey-at-Cungelella-1-1.webp" -}}
{{- $heroImage := $heroSource.Process "webp q70" -}}
{{- $heroSmall := $heroSource.Resize "640x webp q70" -}}
{{- $heroMedium := $heroSource.Resize "960x webp q70" -}}
{{- $heroLarge := $heroSource.Resize "1440x webp q70" -}}
<section class="hero">
  <div class="container hero-layout">
    <div class="hero-content type-body-large">
      {{ .content }}
    </div>
    <div class="hero-art" role="img" aria-label="{{ .params.audio_label }}">
      <div class="waveform" aria-hidden="true">
        <!-- object-position and width chosen for aesthetic reasons, vary with different hero images -->
        <img
          class="waveform-image"
          style="object-position: left bottom; width: 150%;"
          src="{{ $heroImage.RelPermalink }}"
          srcset="{{ $heroSmall.RelPermalink }} 640w, {{ $heroMedium.RelPermalink }} 960w, {{ $heroLarge.RelPermalink }} 1440w, {{ $heroImage.RelPermalink }} 2000w"
          sizes="(max-width: 680px) 150vw, 750px"
          width="2000"
          height="1500"
          alt=""
          fetchpriority="high"
          decoding="async">
      </div>
    </div>
  </div>
</section>
