:root {
    --oe-color-logo: #ffffff;
    --oe-font-color: #fff;
    --oe-font-color-bright: #fff;
    --oe-font-color-toned: #666;
    --oe-inverse-color: #000;
    --oe-background-color: #1d1d1d;
    --oe-background-color-darker: #1a1a1a;
    --oe-pane-background: #070707;
    --color-link: #2e8cff;
    --color-visited-link: #a36aff;
    --oe-inline-code-bg-color: #274462;
}
