:root {
    --oe-color-logo: #FFFFFF;
    --oe-font-color: #FFF;
    --oe-font-color-bright: #FFF;
    --oe-inverse-color: #000;
    --oe-background-color: #1d1d1d;
    --oe-background-color-darker: #1a1a1a;
    --color-link: #2e8cff;
    --color-visited-link: #a36aff;
}
