:root {
    --oe-color-logo: #231f20;
    --oe-font-color: #000;
    --oe-font-color-bright: #fff;
    --oe-inverse-color: #000;
    --oe-background-color: #FFF;
    --oe-background-color-darker: #fbfbfb;
    --color-link: #0055bb;
    --color-visited-link: #8440f1;
}
