/*
 * Open Ecoacoustics design system light color theme.
 */
:root {
    --oe-font-color: #333333;
    --oe-font-heading-color: #1a1a1a;
    --oe-font-color-toned: #5c5c5c;
    --oe-background-color: #ffffff;
    --oe-background-color-darker: #fbfbfb;
    --oe-pane-background: #ffffff;
    --oe-inline-code-bg-color: #dfefff;
    --color-link: #774b1c;
    --color-visited-link: #4a2e0c;
    --oe-color-border: #e2ded7;
    --oe-color-surface: #f3f1ec;
    --oe-color-button-hover: #774b1c;
    --oe-color-bg-overlay: rgba(62, 62, 62, 0.82);

    --qut-logo-bg-color: #003b62;
    --qut-logo-text-color: #ffffff;

    --jcu-logo-text-color: #231f20;
    --jcu-logo-shield-color: #003b62;
    --jcu-logo-sun-color: #fdb913;

    --ecosounds-logo-wave-color: #666;
    --ecosounds-logo-bird-color: #231f20;
}
