:root {
    --oe-color-logo: #231f20;
    --oe-font-color: #000;
    --oe-font-color-bright: #fff;
    --oe-font-color-toned: #bbb;
    --oe-inverse-color: #000;
    --oe-background-color: #fff;
    --oe-background-color-darker: #fbfbfb;
    --oe-pane-background: #fcfcfc;
    --color-link: #0055bb;
    --color-visited-link: #8440f1;
    --oe-inline-code-bg-color: #dfefff;
}
