body {
    color: var(--oe-font-color);
    background-color: var(--oe-background-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;

    /* transition:
        color var(--oe-duration) var(--oe-timing),
        background-color var(--oe-duration) var(--oe-timing); */
}

main {
    width: 100%;
    flex-basis: 100%;
    flex-grow: 1;
}

pre,
.markdown pre {
    color: var(--oe-font-color);
    background-color: var(--oe-background-color);
}

.markdown code {
    background: var(--oe-inline-code-bg-color);
}

.markdown table tr:nth-child(2n) {
    background-color: var(--oe-background-color-darker);
}

.markdown header h1 {
    margin-top: 0;
}

body > footer {
    flex-grow: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-top: 1em;
    margin-bottom: 0.5em;
}

.pull {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;

    color: var(--oe-font-color-bright);
}

.pull > * {
    min-width: calc(min(25em, 100%));
    flex-basis: 50%;
    background-color: var(--oe-panel-color-with-alpha);
    padding: var(--oe-padding-small);
}

.pull.pull-red > * {
    background-color: var(--oe-panel-red-with-alpha);
    --oe-panel-red-with-alpha: hsla(
        var(--sl-color-red-300),
        var(--oe-panel-opacity)
    );
}

.pull > *:first-child {
    font-size: var(--sl-font-size-large);
}

.pull-right {
    justify-content: end;
}

.pull-left {
    justify-content: start;
}

footer {
    padding-left: var(--oe-padding);
    padding-right: var(--oe-padding);
    padding-top: var(--oe-padding-small);
}

.quiet {
    color: var(--oe-font-color-toned);
}

ol > li {
    margin-bottom: 0.5em;
}

sup {
    top: initial;
}
