.oe-footer {
    display: flex;
    flex-direction: column;
    margin-top: var(--oe-padding-small);
    width: 100%;

    &-git-info {
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: blue;
    }

    &-upper,
    &-lower {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin-bottom: var(--oe-padding-small);
        gap: var(--oe-padding);
        text-align: center;
    }

    &-upper {
        justify-content: center;
    }

    &-lower {
        justify-content: space-between;
        align-items: end;
        align-content: center;
    }

    & .oe-footer-lower > * {
        flex-grow: 1;
        flex-shrink: 0;
    }

    &-social-media {
        a {
            height: 16px;
            display: inline-block;
            vertical-align: text-top;
        }
    }

    &-themeselector {
        flex-shrink: 1;
    }
}

dark-mode-toggle::part(fieldset) {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: row-reverse;
    gap: 1em;
}
