.oe-footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}

#themeSelector {
    text-align: right;
}

dark-mode-toggle {
    word-spacing: 200%;
}

dark-mode-toggle::part(fieldset) {
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    flex-direction: row-reverse;
    gap: 1em;
}

/* Small screen styles */
@media only screen and (max-width: 700px) {
    .oe-footer {
        flex-direction: column;
    }
    .oe-footer > div {
        margin-top: --oe-padding-small;
    }

    dark-mode-toggle::part(fieldset) {
        flex-direction: row;
    }
}
