.circle-profile-img {
  border-radius: 50%;
  -webkit-box-shadow: none;
  box-shadow: none;
  overflow: hidden;
}

.person-card {
    text-align: center;
    padding: var(--oe-padding-small);
    min-width: 15em;

    .affiliation, .job-title {
        display: block;
    }

    .affiliation {
        padding-bottom: var(--oe-padding-small);
    }

    sl-details {
        font-size: 0.75em;
    }

    .description {
        text-align: left;
    }   
}
