@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import "common";
@import "main_nav";
@import "icons";
@import "shoelace";
@import "home";
@import "contact";
@import "page";
@import "resources";
@import "layout";
@import "footer";
@import "registry";
@import "governance";
@import "reveal-slides";

/* Added a second definition to separate templated values from not so syntax
  highlighting will work */
:root {
    --theme-color-raw: {{ .Site.Params.ThemeColorHsl }};

    {{ range $key, $value := .Site.Params.ThemeShades }}
    --sl-color-primary-{{ $key }}: rgb({{ $value }});
    {{ end }}
}

:root {
    --theme-color: hsl(var(--theme-color-raw));

    --oe-theme-color: var(--theme-color);
    /* https://shoelace.style/tokens/spacing */
    --oe-padding: var(--sl-spacing-2x-large);

    --oe-padding-large: var(--sl-spacing-4x-large);
    --oe-padding-small: var(--sl-spacing-large);
    --oe-fancy-font: 'Montserrat', sans-serif;
    --oe-navbar-height: 5em;
    --oe-panel-opacity: 0.66;
    --oe-panel-color-with-alpha: hsla(var(--theme-color-raw), var(--oe-panel-opacity));
    --oe-panel-red-with-alpha: rgba(180, 52, 52, 0.66);

    --oe-duration: 0.5s;
    --oe-timing: ease-in-out;

    --oe-narrow-display: none;
    --oe-wide-display: inherit;

    --oe-side-menu-width: 16em;

}

@media screen and (max-width: 60em) {
    :root {
        --oe-narrow-display: inherit;
        --oe-wide-display: none;
    }
}

