.page {
    flex-grow: 1;
    display: flex;
    padding: 0 var(--oe-padding);
    flex-direction: column;
    overflow-x: hidden;
    min-height: 100%;
}

.page-hero-image {
    width: 100vw;
    height: 15em;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding-top: var(--oe-padding-large);
    padding-left: var(--oe-padding-large);
    padding-right: var(--oe-padding-large);
    padding-bottom: var(--oe-padding);
    position: relative;
    display: flex;
    justify-content: start;
    color: var(--oe-font-color-bright);
    margin-top: 0;
    margin-left: calc(var(--oe-padding)* -1);
    margin-right: calc(var(--oe-padding)* -1);
    margin-bottom: var(--oe-padding-large);
}

.page-hero-image>h1 {
    font-size: 600% !important;
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .page-hero-image {
        margin-bottom: var(--oe-padding);
    }
    .page-hero-image>h1 {
        font-size: 300% !important;
    }
}