@media print {
    .navbar,
    .oe-presentation-controls,
    #themeSelector,
    .breadcrumbs,
    footer p,
    footer small,
    .menu-toggle,
    .asciinema-player-wrapper {
        display: none !important;
    }

    .book-page {
        margin: 0;
        padding: 0;
        display: block;
    }

    .reveal {
        display: block;
        aspect-ratio: auto;


        object {
            margin: 0 !important;
               break-before: always;
            page-break-before: always;
        }

        .slides > section {
            display: block;
            break-after: always;
            page-break-after: always;
        }
    }

    .asciinema-player::after {
        content: "This content is not available for printing.";
        font-size: 0.4em;
        opacity: 0.5;
    }

    a::after {
        content: " (" attr(href) ")";
    }
    
    @page {
        size: A4 landscape;
    }
}

.reveal {
    overflow: hidden;
    // force a 16:9 ratio for slide size
    height: auto !important;
    aspect-ratio: 16 / 9;
    margin: var(--oe-padding-small);

    .slide-background {
        background-image: url(/oe-logo-horizontal.svg);
        background-position: right 10px top 10px;
        background-repeat: no-repeat;
        background-size: 20%;
    }

    h1,
    h2,
    h3,
    h4 {
        a {
            display: none; //overriding anchor link style
        }
    }

    aside {
        //background: none; // overriding aside bg style
    }

    blockquote {
        box-shadow: 0.1em 0.1em 0.1em 0.1em rgba(0, 0, 0, 0.2) !important;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.2);
    }

    div.footnotes,
    p.footnotes {
        font-size: 50%;
        position: absolute;
        bottom: -2em;

        & hr {
            display: none;
        }
    }

    iframe {
        // assume videos are central
        width: auto;
        aspect-ratio: 16/9;
        flex-grow: 1 !important;
        align-self: center;
    }

    .slide-number {
        .slide-number-delimiter {
            margin: 0;
        }
    }

    section {
        display: flex !important;
        flex-direction: column;
        overflow-wrap: break-word;
        height: 100%;
    }

    section > * {
        flex: 0 1 auto;
    }

    .align-top {
        justify-content: flex-start;
        gap: 0.2em;
    }

    .align-middle {
        justify-content: center;
    }

    .align-center {
        text-align: center;
        align-items: stretch;
    }

    .align-left {
        text-align: left;
    }

    .emphasize {
        font-size: 200%;
    }

    /* allow code to grow */
    div.highlight {
        flex: 1 1 auto;

        pre {
            width: 100%;
            font-size: 0.7em;
            code {
                /* overrides simple.css theme's stupid height limit */
                max-height: unset !important;
            }

            & *::selection {
                color: black;
                background-color: rgb(255, 255, 0);
            }
        }
    }

    *:not(pre) > code {
        /* make inline code segments stand out a little bit more */
        background-color: #f8f8f8;
        padding-left: 0.2em;
        padding-right: 0.2em;
        border-radius: 5px;
    }

    .quarter-grid {
        display: grid;
        grid: repeat(2, min-content) / 1fr 1fr;

        & > p {
            width: 100%;

            & img {
                display: block;
                margin: auto;
            }
        }
    }

    .image-fill,
    .image-fill > img {
        height: 100%;
    }

    .image-50-percent,
    .image-50-percent > img {
        width: 50%;
    }

    .image-100-percent,
    .image-100-percent > img {
        width: 100%;
    }

    .image-200-percent,
    .image-200-percent > img {
        width: 200%;
    }

    .image-150-percent,
    .image-150-percent > img {
        width: 150%;
    }
}

.notes-hidden {
    display: none;
}

.notes-container > div {
    border: 1px solid gray;
    min-height: 5em;
}
