.registrySearch {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    gap: 1rem;

    & > sl-input {
        flex-grow: 1;
    }
}

.registryCardList {
    display: flex;
    flex-direction: column;
}

.registryCardList > sl-card {
    width: 100%;
    min-width: calc(400px + 1em);
    padding: 1em;
    & *[slot="header"] {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: baseline;
        & > * {
            margin-top: 0.5em;
            margin-bottom: 0;
        }
    }

    .authors {
        margin-left: auto;
        margin-bottom: 0;
        font-size: smaller;
        & > * {
            display: inline-block;
        }
    }

    .descriptionAndDatasets {
        display: flex;
        flex-flow: wrap;
        gap: 1rem;
        & > *:nth-child(1) {
            flex: 1 1;
            width: 100%;
            min-width: 15ch;
        }
        & > *:nth-child(2) {
            flex: 0 1;
            flex-basis: 25em;
            width: 100%;
        }
    }

    dl {
        & div {
            display: inline-block;
            width: 100%;
            padding: 0.25rem;
        }
        & dt {
            display: inline;
        }
        & dd {
            display: inline;
        }
    }

    a {
        display: inline-block;
    }

    & dt::after {
        content: ": ";
    }

    ul {
        margin-left: 1ch;
    }

    .performanceTable {
        font-size: smaller;
        padding: 0.25rem, 0.5rem;
        margin-bottom: 0;

        & .actual {
            transform: rotate(-90deg);
            padding: 0;
        }
    }
}
