.resources {
    display: grid;
    grid-template-rows: 0 1fr;
    grid-template-columns: auto 1fr auto;
    height: 100%;
    padding: var(--oe-padding-small);

    #sideMenu {
        transition-property: var(--oe-transition-properties-movement);
        transition-duration: var(--oe-duration);
        transition-timing-function: var(--oe-timing);
        padding: var(--oe-padding-smaller);

        grid-column: 1;
        grid-row: 2;
        width: var(--oe-side-menu-width);
        transform: translateX(0);
        background-color: var(--oe-background-color-darker);

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-size: 100%;
            font-weight: 600;
        }

        .side-menu-fixed-container {
            width: var(--oe-side-menu-width);
        }

        .header {
            display: flex;
            justify-content: space-between;
        }

        .book-search input {
            background-color: white !important;
        }
    }

    &.side-menu-closed #sideMenu {
        width: 0;
        transform: translateX(calc(-1 * var(--oe-side-menu-width) - 5em));
        overflow: hidden;
    }

    .book-menu-content {
        padding: calc(var(--oe-padding-small) / 4);
    }

    .tree-item {
        color: inherit;
    }

    sl-tree {
        sl-tree-item {
            margin: calc(var(--oe-padding-small) / 2) 0;

            &:focus {
                outline-style: none;
            }
        }

        a {
            font-size: 0.9em;
            white-space: normal;
            line-height: 1;
            font-family: var(--oe-font);

            &:hover {
                opacity: 0.5;
            }
        }
    }

    .book-page {
        transition-property: var(--oe-transition-properties-movement);
        transition-duration: var(--oe-duration);
        transition-timing-function: var(--oe-timing);
        grid-column: 2;
        grid-row: 2;
    }

    .toc {
        transition-property: var(--oe-transition-properties-movement);
        transition-duration: var(--oe-duration);
        transition-timing-function: var(--oe-timing);

        width: var(--oe-side-menu-width);
        grid-column: 3;
        grid-row: 2;

        h1 {
            margin-top: 0;
        }
    }

    &.toc-menu-closed #toc {
        width: 0;
        transform: translateX(calc(var(--oe-side-menu-width) + 5em));
    }

    .mobile-toc,
    .mobile-search {
        display: none;
    }

    .menu-toggle {
        grid-row: 1;
        grid-column: 1;
        display: block;
        justify-self: end;
        z-index: 100;
    }

    .toc-toggle {
        grid-row: 1;
        grid-column: 3;
        display: block;
        justify-self: end;
        z-index: 100;
    }

    .book-page {
        .menu-toggle {
            & sl-icon-button {
                aspect-ratio: 1 / 1;
            }
        }
    }

    .next-previous-links {
        .nav-links {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            padding-top: var(--oe-padding-small);
        }

        .nav-links-previous::before {
            content: "\2190";
        }

        .nav-links-next {
            text-align: right;
            display: block;
        }

        .nav-links-next::after {
            content: "\2192";
        }

        .nav-links-up {
            display: block;
            text-align: center;
        }

        sl-divider {
            --spacing: 4rem 0rem;
        }
    }

    nav ul {
        list-style: none;
    }

    nav.breadcrumbs {
        margin-bottom: 1em;
        font-size: smaller;

        & a {
            color: var(--oe-font-color-tone);

            &:hover {
                color: var(--color-link);
            }
        }
    }
}

@media only screen and (max-width: 56rem) {
    .resources {
        .menu-toggle,
        .toc-toggle {
            display: none;
        }

        .mobile-toc,
        .mobile-search {
            display: block;
        }

        .mobile-toc nav > ul {
            padding: 0;
        }

        .book-search {
            ul {
                list-style: none;
                padding: 0;

                li {
                    margin-top: 1em;

                    a {
                        color: inherit;
                    }
                }
            }

            small {
                display: block;
            }
        }
    }
}
