{{ partial "docs/inject/body" . }}
<footer class="oe-footer">
    <div class="oe-footer-copyright">
        <p>
            © {{ now.Format "2006" }} <strong>{{ .Site.Params.Organization }}</strong>
        </p>
    </div>
    <div class="oe-footer-gitinfo">
        <small><a href="about/">How to cite</a></small>｜
        {{ with .GitInfo }}
        <small>
            Last change by <strong>{{ .AuthorName }}</strong> on {{ (.AuthorDate.Format `2006-01-02T15:04:05-07:00`) }} in
            <a href="{{ $.Site.Params.GitHubRepo }}/commit/{{ .Hash }}">{{ .AbbreviatedHash }}</a>
        </small>
        {{ end }}
        
    </div>
    <div class="oe-footer-themeselector" id="themeSelector">
        <dark-mode-toggle id="dark-mode-toggle-1" appearance="switch" dark="Dark" light="Light"
        permanent remember="Remember?"></dark-mode-toggle>
    </div>
</footer>
</body>

</html>



{{ define "header" }}
{{ partial "docs/header" . }}

{{ if default true (default .Site.Params.BookToC .Params.BookToC) }}
<aside class="hidden clearfix">
    {{ template "toc" . }}
</aside>
{{ end }}
{{ end }}

{{ define "footer" }}
{{ partial "docs/footer" . }}
{{ end }}

{{ define "comments" }}
{{ if and .Content (default true (default .Site.Params.BookComments .Params.BookComments)) }}
<div class="book-comments">
    {{- partial "docs/comments" . -}}
</div>
{{ end }}
{{ end }}
