<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Site.Language.LanguageDirection | default "ltr" }}">
<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>
<body dir="{{ .Site.Language.LanguageDirection | default "ltr" }}">
  <header>
    {{ partial "navbar" . }}
  </header>
  <sl-alert variant="warning" open class="oe-alert">
    <sl-icon slot="icon" name="exclamation-triangle"></sl-icon>
    <strong> Service Outage Alert</strong><br /> Due to the recent extreme weather in Queensland, our services, including Ecosounds and A2O, are currently offline. We aim to restore services in the coming days and will provide updates as soon as possible.
  </sl-alert>
