<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Site.Language.LanguageDirection | default "ltr" }}">
<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>
<body dir="{{ .Site.Language.LanguageDirection | default "ltr" }}">
  <header>
    {{ partial "navbar" . }}
  </header>
  <sl-alert variant="warning" open class="oe-alert">
    <sl-icon slot="icon" name="exclamation-triangle"></sl-icon>
    <strong> Service Outage Alert</strong><br /> Due to cyclone Alfred preparations, Ecosounds and A2O will be offline from 3 pm Brisbane time (AEST) on 6 March 2025 until next week. Stay safe!
  </sl-alert>
