<!DOCTYPE html>
<html lang="{{ .Site.Language.Lang }}" dir="{{ .Site.Language.LanguageDirection | default "ltr" }}">
<head>
  {{ partial "docs/html-head" . }}
  {{ partial "docs/inject/head" . }}
</head>
<body dir="{{ .Site.Language.LanguageDirection | default "ltr" }}">
  <header>
    {{ partial "navbar" . }}
  </header>
  <sl-alert variant="primary" open class="oe-alert">
    <sl-icon slot="icon" name="exclamation-triangle"></sl-icon>
    <strong> Service Outage Update</strong><br />
      Our services, including Ecosounds and A2O, are <strong>back online</strong> after the outage we experienced from 6/03/2025 to 11/03/2025. We appreciate your patience.
  </sl-alert>
