<nav class="next-previous-links">
    {{ $sectionParentPages := .CurrentSection.Parent.Pages }}
    {{ $currentSection := .CurrentSection.Title }}


    <sl-divider style="--spacing: 4rem 0rem;">></sl-divider>
    <div class="nav-links">
        <div>
            {{ if .NextInSection }}
                {{ with .NextInSection }}
                    <a href="{{ .Permalink }}" class="nav-links-previous"> Previous: </a>
                    <div>{{ .Title }}</div>
                {{ end }}

            {{ else }}
                {{ range $sectionParentPages }}
                    {{ if eq .Title $currentSection }}
                        {{ with $sectionParentPages.Next . }}
                        {{ if eq .Parent.Title "Lessons" }}
                        <a href="{{ .Permalink }}" class="nav-links-previous">
                            Previous lesson:</a
                        >
                        <div>{{ .Title }}</div>
                        {{ else }}
                        <a href="{{ .Permalink }}" class="nav-links-previous">
                            Previous section:</a
                        >
                        <div>{{ .Title }}</div>
                        {{end}}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>

        <div class="nav-links-up">
            {{ with .CurrentSection }}
                <a href="{{ .Permalink }}">Up</a>
            {{ end }}
            <div>
                <a href="{{ .Site.Home.RelPermalink }}">{{ "Home" }}</a>
            </div>
        </div>

        <div>
            {{ if .PrevInSection }}
                {{ with .PrevInSection }}
                    <a href="{{ .Permalink }}" class="nav-links-next">Next: </a>
                    <div>{{ .Title }}</div>
                {{ end }}

            {{ else }}
                {{ range $sectionParentPages }}
                    {{ if eq .Title $currentSection }}
                        {{ with $sectionParentPages.Prev . }}
                            {{ if eq .Parent.Title "Lessons" }}
                            <a href="{{ .Permalink }}" class="nav-links-next"
                                > Next lesson: </a>
                            <div>{{ .Title }}</div>
                            {{ else }}
                            <a href="{{ .Permalink }}" class="nav-links-next"
                            > Next section: </a>
                        <div>{{ .Title }}</div>
                            {{end}}
                        {{ end }}
                    {{ end }}
                {{ end }}
            {{ end }}
        </div>
    </div>
</nav>