{{ $sectionParentPages := .CurrentSection.Parent.Pages }}
{{ $currentSection := .CurrentSection.Title }}
{{ $nextSectionText := "Next section: " }}
{{ $prevSectionText := " Previous section:" }}

{{ if not .PrevInSection }}
    {{ range $sectionParentPages }}
        {{ if eq .Title $currentSection }}
            {{ with $sectionParentPages.Prev . }}
                <a href="{{ .Permalink }}" class="next"
                    >{{ $nextSectionText }}</a
                >
                <div>{{ .Title }}</div>
            {{ end }}
        {{ end }}
    {{ end }}
{{ else }}
    {{ range $sectionParentPages }}
        {{ if eq .Title $currentSection }}
            {{ with $sectionParentPages.Next . }}
                <a href="{{ .Permalink }}" class="previous"
                    >{{ $prevSectionText }}</a
                >
                <div>{{ .Title }}</div>
            {{ end }}
        {{ end }}
    {{ end }}
{{ end }}
