<nav>
    {{ $previousText := " Previous: " }}
    {{ $nextText := "Next: " }}
    {{ $sectionText := " Return to: " }}


    <div class="nav-border"></div>

    <div class="nav-buttons">
        <div>
            {{ if .NextInSection }}
                {{ with .NextInSection }}
                    <a href="{{ .Permalink }}" class="previous"
                        >{{ $previousText }}</a
                    >
                    <div>{{ .Title }}</div>
                {{ end }}

            {{ else }}
                {{ with .CurrentSection }}
                    <a href="{{ .Permalink }}" class="previous"
                        >{{ $sectionText }}</a
                    >
                    <div>{{ .Title }}</div>
                {{ end }}
            {{ end }}
        </div>

        <div>
            {{ if .PrevInSection }}
                {{ with .PrevInSection }}
                    <a href="{{ .Permalink }}" class="next">{{ $nextText }}</a>
                    <div>{{ .Title }}</div>
                {{ end }}

            {{ else }}
                {{ with .CurrentSection }}
                    <a href="{{ .Permalink }}" class="next"
                        >{{ $sectionText }}</a
                    >
                    <div>{{ .Title }}</div>
                {{ end }}
            {{ end }}
        </div>
    </div>
</nav>

<style>
    .nav-buttons {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        padding-top: 10px;
    }

    .nav-border {
        padding-top: 50px;
        border-bottom: 1px solid #cb7e30;
    }

    .previous::before {
        content: "\2190";
    }

    .next {
        text-align: right;
        display: block;
    }

    .next::after {
        content: "\2192";
    }
</style>
