{{- $imagePath := printf "static/%s" (strings.TrimPrefix "/" .imgUrl) -}}
{{- $image := imageConfig $imagePath -}}
<div class="flex-3-row column person-card">
    <img class="profile-img {{if not .imgSquare }}circle{{ end }}" src="{{ .imgUrl }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="Picture of {{ .name }}" loading="lazy" decoding="async" />

    <h3>{{ .name }}</h3>
    <span class="job-title">{{ .jobTitle }}</span>
    <em class="affiliation">{{ .affiliation }}</em>
    
    {{ if .description }}
    <sl-details summary="Read more about {{ .name }}">
        <p class="description">{{ .description }}</p>
    </sl-details>
    {{ end }}
</div>
