{{ $data := index $.Site.Data.common_analysis_software }}

<div class="table-wrapper" tabindex="0">
    <table>
        <thead style="text-align: left;">
            {{ with $data.headers }}
            <tr>
                {{ range . }}
                <th>{{ .text }}</th>
                {{ end }}   
            </tr>
            {{ end }}
        </thead>
        <tbody> 
            {{ range $data.rows }}
            <tr>
                {{ $row := . }}
                {{ range $data.headers }}
                    <td>{{ index $row .key }}</td>
                {{ end }}
            </tr>
            {{ end }}
        </tbody> 
    </table>
</div>