{{- $data := index .Site.Data.logos (.Get 0 | lower) -}}
{{- if ($data | not) -}}
{{- errorf "Unknown logo name: `%s`. Context: %s" (.Get 0) .Position -}}
{{- end -}}
{{- $src_light := $data.image_light -}}
{{- $src_dark := $data.image_dark -}}
{{- $fallback := cond ($src_dark  | not | not ) "" "shortcode-logo-fallback-background" -}}
{{- $tag := cond ($data.href | not | not) "a" "div" -}}
{{- $lightPath := strings.TrimPrefix "/" $src_light -}}
{{- $lightResource := resources.FromString $lightPath (readFile (printf "static/%s" $lightPath)) -}}
{{- $lightImage := $lightResource -}}
{{- if and $lightResource (or (eq $lightResource.MediaType.SubType "jpeg") (eq $lightResource.MediaType.SubType "png")) -}}
    {{- $lightImage = $lightResource.Process "webp q82" -}}
{{- end -}}
{{- $darkImage := false -}}
{{- with $src_dark -}}
    {{- $darkPath := strings.TrimPrefix "/" . -}}
    {{- $darkImage = resources.FromString $darkPath (readFile (printf "static/%s" $darkPath)) -}}
    {{- if and $darkImage (or (eq $darkImage.MediaType.SubType "jpeg") (eq $darkImage.MediaType.SubType "png")) -}}
        {{- $darkImage = $darkImage.Process "webp q82" -}}
    {{- end -}}
{{- end -}}
{{- (printf `<%s href="%s"` $tag (cond ($data.href |not |not) $data.href "")) | safeHTML }} class="shortcode-logo {{ $fallback }}">
    <picture>
        <source srcset="{{ $lightImage.RelPermalink }}" data-theme-toggle="light" media="(prefers-color-scheme:light)">
        {{- with $darkImage -}}
        <source srcset="{{ .RelPermalink }}" data-theme-toggle="dark" media="(prefers-color-scheme:dark)">
        {{- end -}}
        <img src="{{ $lightImage.RelPermalink }}" width="{{ $lightImage.Width }}" height="{{ $lightImage.Height }}" alt="{{ .Get `name` }}" loading="lazy" decoding="async" />
    </picture>
{{- (printf `</%s>` $tag) | safeHTML -}}
